<!--TESTANDO COM TODOS OS CÓDIGOS HTML, POIS COM EXTENDS DO BASE ELE ABRIA O MODAL COM TODOS OS CÓDIGOS-->

{% load crispy_forms_tags %}
{% load static %}
{% load widget_tweaks %}


<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">

</head>
<body>

        <div id="modal-backdrop" class="modal-backdrop fade show" ></div>
            <div id="modal" class="modal fade show" tabindex="-1" style="display:block;">
                <div class="modal-dialog modal-dialog-centered">
                    <!--Modal abrindo ao carregar página-->
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title">Área</h5>
                        </div>
                        <div class="modal-body">
                            <form id="teste_form" hx-post="{{ request.path }}" hx-headers='{"X-CSRFToken":"{{ csrf_token }}"}' class="modal-content">
                                {% crispy form %}
                                {% if form.formset %}
            {#                            {% crispy form.formset %}#}
                                    {% for formline in form.formset %}
                                        {% crispy formline %}
                                    {% endfor %}
                                {% endif %}
                            </form>
                        </div>
                        <div class="modal-footer">
                            <!--Utilizando um js para fechar o modal e permanecer na mesma tela sem precisar recarregar-->
                            <button type="button" class="btn btn-danger text-white textinput textInput form-control" onclick="closeModal()">Cancelar</button>
                            <button form="teste_form" type="submit"
                               hx-trigger="click"
                               hx-target="#modal_confirmacao"
                               class="btn btn-success mb-2 form-control text-white">Enviar</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>


        <!--Modal confirmação-->
    <div id="modal_confirmacao"></div>

    <!--Javascript que fecha modal-->
    <script src="{% static 'js/close_modal.js' %}"></script>

</body>
</html>